### Welcome to the Part1c, Database Connection to our Production Environment.<br>

Objectives: Do simple CRUD (Create, read, update and delete) to our production environment database.

Exercises: A total of four.

Expected Time to Finish: 40 mins

In this session, we will cover:<br>
1. Read for database

2. Write for database

3. Update for database

4. Delete for database

5. From one table to another

#### 1.1 Create Connection to database

In this section, we will use the pacakge pyodbc to perform CRUD on our database.

In [1]:
import pyodbc ##package for connection
import pandas ##package for dataframe manipulation
import datetime as dt

## Set up your connection string as below
conn = pyodbc.connect('Driver={SQL Server};'            # Driver is the ODBC that your PC has installed. For our testing server, let's use SQL Server
                      'Server=MMWSREDSTGDWH01,18000;'   # The Server will be the location of the SQL Server. It can be IP address or hostname.
                      'Database=DataProduct;'           # Database Name
                      'Trusted_Connection=yes;',        # Use Windows Authentication (If you wish to use SQL credentials, specified UID and PWD instead)
                      autocommit = True)  

# This cursor will be your handy variable to communicate with the database.
cursor = conn.cursor()

Let's create your own table first

In [16]:
#**************Enter your user Id here******************#
your_staff_id = 117653
#*******************************************************#

STAFF_TABLE = f"[MGMGRAND\{your_staff_id}]"

cursor.execute(f'''
USE DataProduct

CREATE TABLE DataProduct.{STAFF_TABLE}.pokemon (
id int NOT NULL UNIQUE,
name varchar(500),
weight numeric(18,2)
)
INSERT INTO pokemon
values (1, 'pikachu', 25)
''')

#### 1.2 Getting data

In [17]:
#**************Enter your user Id here******************#
your_staff_id = 117653
#*******************************************************#

STAFF_TABLE = f"[MGMGRAND\{your_staff_id}]"

result = cursor.execute(f'select * from DataProduct.{STAFF_TABLE}.pokemon;').fetchall()
print (result)
print (type(result))

[(1, 'pikachu', Decimal('25.00'))]
<class 'list'>

![Pikachu Image](https://static.wikia.nocookie.net/school-daze/images/4/4c/Pikachu-PNG-HD.png)

As we can see, the cursor return a list of list structure of the result, which is very complicated for us to do manipulation. What can we do?

#### 1.3 Reading data using Pandas
Even though using pyodbc can get the data from the database, but can we do better?

In [18]:
# Just prepare query like you did in SSMS
query = f'select * from DataProduct.{STAFF_TABLE}.pokemon;'

result_df = pandas.read_sql_query(query,conn)
result_df.head()

   id     name  weight
0   1  pikachu    25.0

So the result looks a lot nicer. Using pandas is a good way to get structured data from database.

#### 2.1 Writing Data
For inserting data to the database, we will use pyodbc to do so.

In [19]:
cursor.execute(f'''INSERT INTO [DataProduct].{STAFF_TABLE}.[pokemon] VALUES(2,'charizard', 250.0)''')
cursor.execute(f'SELECT * FROM [DataProduct].{STAFF_TABLE}.[pokemon];').fetchall()

[(1, 'pikachu', Decimal('25.00')), (2, 'charizard', Decimal('250.00'))]

![Charizard Image](https://cdn.custom-cursor.com/cursors/pokemon_charmander__and_charizard_893.png)

#### 2.2 Format you query nicely
In here, we would like to introduce params method of pyodbc query.

In [20]:
pokemon_id = 22
pokemon_name = 'Gengar'

query = f"INSERT INTO [DataProduct].{STAFF_TABLE}.[pokemon] VALUES (?,?,?);"     # Each ? take one parameter. Beware of the order.
cursor.execute(query, (pokemon_id, pokemon_name, 58.0))    # There is 3 ?, so we will prepare 3 variables 

# Check the Result
cursor.execute(f'SELECT * FROM [DataProduct].{STAFF_TABLE}.[pokemon];').fetchall()

[(1, 'pikachu', Decimal('25.00')),
 (2, 'charizard', Decimal('250.00')),
 (22, 'Gengar', Decimal('58.00'))]

In [22]:
![Gengar Image](https://freepikpsd.com/wp-content/uploads/2019/10/mega-gengar-png-7-Transparent-Images-Free.png)

'[Gengar' is not recognized as an internal or external command,
operable program or batch file.

#### Exercise 1
Imagine you are now classified as a pokemon.

Insert a new entry of:

(YourStaffID, SomeRandomName, SomeFakeWeight)

In [23]:
query = f"INSERT INTO [DataProduct].{STAFF_TABLE}.[pokemon] VALUES (?,?,?);"

# Insert your code below
params = (249,'Lugia',233.6)
# End Section

cursor.execute(query,params)

In [25]:
query = f"INSERT INTO [DataProduct].{STAFF_TABLE}.[pokemon] VALUES (?,?,?);"

# Insert your code below
params = (117653,'Lugia',85)
# End Section

cursor.execute(query,params)

In [24]:
# Check your result!
your_row = cursor.execute(f'SELECT * FROM [DataProduct].{STAFF_TABLE}.[pokemon] WHERE id = 249').fetchall()
assert len(your_row) == 1
print ("Well Done!")

Well Done!

#### 3.1 Update your tables

Similar to insert, update the record using pyodbc is easy.

In [26]:
cursor.execute(f"UPDATE [DataProduct].{STAFF_TABLE}.[pokemon] SET name = 'Johnny' WHERE id = {your_staff_id}")
cursor.execute(f'SELECT * FROM [DataProduct].{STAFF_TABLE}.[pokemon];').fetchall()

[(1, 'pikachu', Decimal('25.00')),
 (2, 'charizard', Decimal('250.00')),
 (22, 'Gengar', Decimal('58.00')),
 (249, 'Lugia', Decimal('233.60')),
 (117653, 'Johnny', Decimal('85.00'))]

You can also use the parameters method!

In [27]:
 query = f"UPDATE [DataProduct].{STAFF_TABLE}.[pokemon] SET name = ? WHERE id = ?"
 cursor.execute(query, ('bulbasaur', your_staff_id))
 cursor.execute(f'SELECT * FROM [DataProduct].{STAFF_TABLE}.[pokemon];').fetchall()

[(1, 'pikachu', Decimal('25.00')),
 (2, 'charizard', Decimal('250.00')),
 (22, 'Gengar', Decimal('58.00')),
 (249, 'Lugia', Decimal('233.60')),
 (117653, 'bulbasaur', Decimal('85.00'))]

![Bulbuasaur](https://cdn2.bulbagarden.net/upload/archive/2/21/20191208073140%21001Bulbasaur.png)

#### Exercise 2 

Update the name to 'venusaur' for your entry,

In [28]:
query = f"UPDATE [DataProduct].{STAFF_TABLE}.[pokemon] SET name = ? WHERE id = ?"
## Start your code below
params = ('venusaur', your_staff_id)

## Enter your code

## End your code here

cursor.execute(query,params)
cursor.commit()

In [29]:
# Check your result!
your_row = cursor.execute(f'SELECT * FROM [DataProduct].{STAFF_TABLE}.[pokemon] WHERE id = ?', (your_staff_id)).fetchall()
assert 'venusaur' in your_row[0]
print ("Well Done!")

Well Done!

#### 4.1 Delete records

In [30]:
# Just execute the delete statement
cursor.execute(f'DELETE FROM [DataProduct].{STAFF_TABLE}.[pokemon] WHERE id = 2')
cursor.execute(f'SELECT * FROM [DataProduct].{STAFF_TABLE}.[pokemon]').fetchall()

[(1, 'pikachu', Decimal('25.00')),
 (22, 'Gengar', Decimal('58.00')),
 (249, 'Lugia', Decimal('233.60')),
 (117653, 'venusaur', Decimal('85.00'))]

#### Exercise 3

Delete the entry you previous insert

In [42]:
query = f'DELETE FROM [DataProduct].{STAFF_TABLE}.[pokemon] WHERE id = ?'
## Start your code below ##
params = your_staff_id
cursor.execute(query, params)
## End your code here ##

In [43]:
## Check your result!
your_row = cursor.execute(f'SELECT * FROM [DataProduct].{STAFF_TABLE}.[pokemon] WHERE id = ?', (your_staff_id)).fetchall()
assert len(your_row) == 0
print ("Well Done!")

Well Done!

#### 5. Moving data from one table to other
In this section, we will cover the basic process for table manipulation, from one to the other. The format in column 'name' is JSON (similar to the dictionary you have learnt in previous tutorial). 

JSON (JavaScript Object Notation) is a lightweight data-interchange format. It is easy for humans to read and write. It is easy for machines to parse and generate.

In [44]:
poke = pandas.read_sql_query('SELECT * FROM Dataproduct.dbo.pokemon;', conn)
display(poke)

   id                                          name          createDateTime
0   1      {"id": 26,"name": "Raichu","weight": 60} 2021-05-17 14:56:10.430
1   3  {"id": 493,"name": "Arceus","weight": 120.3} 2021-05-17 14:59:18.233
2   2     {"id": 133,"name": "Eevee","weight": 6.5} 2021-05-17 14:57:52.677
3   4  {"id": 448,"name": "Lucario","weight": 57.5} 2021-05-17 15:00:03.847
4   5   {"id": 58,"name": "Growlithe","weight": 19} 2021-05-17 15:01:47.077

Let's learn how to read the json format using Python:

In [45]:
import json
# load the first row of pokemon's name using json package
json_entry = json.loads(poke['name'][0])
print (json_entry)
print (type(json_entry))
print (json_entry['id'])

{'id': 26, 'name': 'Raichu', 'weight': 60}
<class 'dict'>
26

By using JSON package, we are able to read JSON string, and also access the value by the key in the JSON.

Then, we will reformat the JSON data and create a clean and usable relational table.

In [46]:
# loop all the row in poke
for i in range(len(poke)): 
    row = json.loads(poke['name'][i])
    row_id = row['id']
    row_name = row['name']
    row_weight = row['weight']
    params = (row_id, row_name, row_weight)

    cursor.execute(f"INSERT INTO [DataProduct].{STAFF_TABLE}.[pokemon] VALUES (?,?,?)",params)

cursor.execute(f"SELECT * FROM DataProduct.{STAFF_TABLE}.pokemon;").fetchall()

[(1, 'pikachu', Decimal('25.00')),
 (26, 'Raichu', Decimal('60.00')),
 (22, 'Gengar', Decimal('58.00')),
 (249, 'Lugia', Decimal('233.60')),
 (493, 'Arceus', Decimal('120.30')),
 (133, 'Eevee', Decimal('6.50')),
 (448, 'Lucario', Decimal('57.50')),
 (58, 'Growlithe', Decimal('19.00'))]